/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    text-align: center;
    color: #000000;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}

.gallery {
    column-gap: 2%;
    padding: 10%;
}

.gallery img {
    width: 100%;
    margin-bottom: 5%; 
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Media queries for different screen sizes */
@media (min-width: 1200px) {
    .gallery {
        column-count: 3;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .gallery {
        column-count: 3;
    }
}

@media (max-width: 767px) {
    .gallery {
        column-count: 2;
    }
}


.gallery img:hover {
    transform: scale(1.5);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}
